@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital@0;1&display=swap');

:root {
    --cor-primaria: black;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;
    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 10px 0 10px 10px;
    position: fixed;
    background-color: var(--cor-primaria);
    width: 100%;
    border-bottom: 1px solid var(--cor-terciaria);
}

.cabecalho__menu {
    display: flex;
    gap: 40px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 1rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    border: 1px solid transparent;
    padding: 10px;
    width: 150px;
    text-align: center;
    text-decoration: none;
}

.cabecalho__menu__link:hover {
    background-color: var(--cor-hover);
    border: 1px solid var(--cor-terciaria);
    transition: 1s;
}

.apresentacao {
    min-height: 100vh;
    padding: 100px 15%;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__imagens {
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.apresentacao__imagens__imagem {
    border: 4px solid var(--cor-terciaria);
    width: 100%;
    padding: 5px;
}

.apresentacao__imagens__badges {
    display: flex;
    gap: 5px;
    justify-content: center;
}

.apresentacao__imagens__badge {
    width: 10%;
}

.apresentacao__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2%;
}

.apresentacao__links_icone {
    width: 16px;
    height: 16px;
}

.apresentacao__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__link {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 2%;
    border: 1px solid transparent;
    padding: 12px 0;
    font-size: 1rem;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}

.apresentacao__links__link:hover {
    background-color: var(--cor-hover);
    border: 1px solid var(--cor-terciaria);
    transition: 1s;
}

.rodape {
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    padding: 20px 0 20px 0;
    font-family: var(--fonte-secundaria);
    font-size: 1rem;
    font-weight: 400;
    bottom: 0;
    width: 100%;
    position: fixed;
}

@media (max-width: 1100px) {

    .cabecalho {
        border-bottom: none;
        position: static;
        padding: 10px 0 10px 0;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .cabecalho__menu__link {
        border: 1px solid transparent;
    }

    .cabecalho__menu__link:hover {
        background-color: black;
        color: var(--cor-secundaria);
        border: 1px solid transparent;
        transition: none;
    }

    .apresentacao {
        flex-direction: column-reverse;
        align-items: center;
        padding: 50px 10px 40px 10px;
    }

    .apresentacao__conteudo {
        width: auto;
        align-items: center;
    }

    .apresentacao__subtitulo {
        text-align: center;
    }

    .apresentacao__links {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 50%;
    }

    .rodape {
        position: static;
        width: 100%;
        padding: 20px 0 20px 0;
    }

}